.aw-eshop .cart .list {
	height: 200px; 
	overflow: auto;
	border: 1px solid #DEE2E3;
}

.aw-eshop .cart table {
	border-top:3px solid #FF5CAB;
	margin:0 0 15px;
	width:100%;
}
.aw-eshop .cart .price,
.aw-eshop .cart .total	{
	white-space: nowrap;
	text-align: right;
}

.aw-eshop .cart th {
	background:#FF5CAB none repeat scroll 0 0;
	color:#FFFFFF;
	padding:5px 5px 8px;
	text-align:left;
	border-bottom:3px solid #CCCCCC;
	padding-right:1em;
}
.aw-eshop .cart td, 
.aw-eshop .cart th {
	padding:5px 10px 5px 5px;
}

.aw-eshop .cart .buttons {
	margin-top: 10px;
}
