/* * * * wspace.css begin * * * */
.aw-eshop .wspage {
    min-height: 160px;
}
.aw-eshop .ws-loading {
    margin: 70px 0;
    text-align: center;
}

.aw-eshop .gheadermenu {
    position: relative;
    padding: 15px 0 0 150px;
    height: 100px;
}
.aw-eshop .gheadermenu h2 {
    padding: 5px 10px;
    font-size: 1.5em;
    background-color: #6A718A;
    color: #fff;
}
.aw-eshop .gheadermenu a.logo {
    position: absolute;
    top: 0; left: 30px;
}
.aw-eshop .gheadermenu img.logo {
    width: 96px;
    height: 96px;
}

.aw-eshop .gheadermenu .topmenublock {
    position: relative;
}
.aw-eshop .gheadermenu ul.topmenul {
    margin: 10px;
    margin-top: 6px;
}
.aw-eshop .gheadermenu ul.topmenur {
    position: absolute;	top: 1px; right: 1px;
}
.aw-eshop .gheadermenu ul.topmenu li{
    float: left;
    padding: 1px 0.5em;
    margin-right: 10px;
}
.aw-eshop .gheadermenu ul.topmenu a {
}
.aw-eshop .gheadermenu ul.topmenu li.sel {
    background: none repeat scroll 0 0 #E8E9ED;
    border: 1px solid #DCDEE4;
}
.aw-eshop .gheadermenu ul.topmenu li.sel a {
    color: #3B4054;
    text-decoration: none;
}

.aw-eshop .gbmenu a {
    text-decoration: none;
    font-size: 14px;
    color: #2A2D3C;
}
.aw-eshop .gbmenu .gbitems {
    margin-left: 10px;
}
.aw-eshop .gbmenu .gbitem {
    text-align: center;
    min-width: 100px;
    cursor: pointer;
    float: left;
    margin: 0 1px;
    padding: 5px 15px; 
    background-color: #F3F4F6;
}
.aw-eshop .gbmenu .r {
    float: right;
}
.aw-eshop .gbmenu .gbitem:hover {
    text-decoration: underline;	
}
.aw-eshop .gbmenu .current {
    background-color: #E8E9ED;
}
.aw-eshop .gbmenu .current:hover {
    text-decoration: none;	
}
.aw-eshop .gbmenu .line {
    background: url("/modules/eshop/images/gmshadow.png") repeat-x scroll 0 0 transparent;
    height: 16px;
}

.aw-eshop .wspacetable {
    width: 100%;
}
.aw-eshop .wspacetable .wscol-content {
    padding-right: 20px;
}
.aw-eshop .wspacetable .wscol-right {
    width: 250px;
    max-width: 250px;
}

.aw-eshop .wscol-right .blockbox {
    margin-bottom: 10px;
}
/* * * * wspace.css end * * * */
