.mod-eshop {
  .catalog_list {

    .catalog_item a.foto {
      display: block;
    }

    .col-md-3 .catalog_item a.foto {
      min-height: 179px;
    }

    .col-md-4 .catalog_item a.foto {
      min-height: 200px;
    }
  }
}
