.mod-eshop .thumbnail a.tmbfoto {
  display: block;
}
.mod-eshop .thumbnail .caption {
  overflow: hidden;
  text-align: center;
}
.mod-eshop .thumbnail .caption .title {
  height: 45px;
}
.mod-eshop .thumbnail .caption .price {
  height: 30px;
}
.mod-eshop .col-md-3 .thumbnail a.tmbfoto {
  min-height: 179px;
}
.mod-eshop .col-md-4 .thumbnail a.tmbfoto {
  min-height: 200px;
}
.mod-eshop .product_view .product_foto .big_foto .thumbnail {
  min-height: 330px;
}
.mod-eshop .product_view .product_foto .small_foto .row {
  margin: 0 -3px;
}
.mod-eshop .product_view .product_foto .small_foto .col-md-3 {
  padding: 0 3px;
}
.mod-eshop .product_view .product_foto .small_foto .thumbnail {
  height: 100px;
}
.mod-eshop .product_view .product_foto .thumbnail {
  margin-bottom: 4px;
}
.mod-eshop .product_view .product_tabinfo {
  margin-top: 20px;
}
.mod-eshop .product_view .aw-eshopcart-buybutton {
  text-align: center;
}
