.mod-eshop .clear {
	font-size: 1px;
	height: 0;
	line-height: 0;
	clear: both;
}
.mod-eshop .rel { position: relative; }
.mod-eshop .red { color: red; }

/* * * * Image Preview * * * * */
.mod-eshop .tmb40 { width: 40px; height: 40px; }
.mod-eshop .tmb45 { width: 45px; height: 45px; }
.mod-eshop .tmb50 { width: 50px; height: 50px; }
.mod-eshop .tmb100 { width: 100px; height: 100px; }
.mod-eshop .tmb200 { width: 200px; height: 200px; }

.mod-eshop .tmb40 img { max-width: 40px; max-height: 40px; }
.mod-eshop .tmb45 img { max-width: 45px; max-height: 45px; }
.mod-eshop .tmb50 img { max-width: 50px; max-height: 50px; }
.mod-eshop .tmb100 img { max-width: 100px; max-height: 100px; }
.mod-eshop .tmb200 img { max-width: 200px; max-height: 200px; }

.mod-eshop .tmb { display: table; }
.mod-eshop .tmb .tmbpre {
	display: table-cell;
	vertical-align: middle;
	text-align: center;
}
.mod-eshop .tmb .tmbpre img {
	/*display: block; /**/
	margin: 0 auto !important;
}

.mod-eshop .nophoto {
	position:absolute;
	left: 0;
	top: 40%;
	text-align: center;
	width: 100%;
	color: #C9C9C9;
	font-weight: bold;
}
.mod-eshop .nophoto a {
	color: #C9C9C9;
	text-decoration: none;
}

/* * * * * Список разделов каталога и продуктов * * * * */
.mod-eshop .pagemixed .catdesc {
	margin-top: 30px;
	padding-top: 7px;
	border-top: 1px solid #DEE2E3;
	font-size: .8em;
}

/* * * * * Список разделов каталога * * * * */
.mod-eshop .cataloglist a {
	text-decoration: none;
}
.mod-eshop .cataloglist .catitem  {
	position: relative;
	width: 210px;
	float: left;
	margin: 0 3px 7px 0;
}
.mod-eshop .cataloglist .catitem .photo,
.mod-eshop .cataloglist .catitem .title {
	border: 1px solid #EEF1F2;
}
.mod-eshop .cataloglist .catitem .title {
	height: 50px;
	border-top: none;
	text-align: center;
	padding: 3px;
	overflow: hidden;
}
.mod-eshop .cataloglist .catitem .tmb {
	margin: 0 auto;
}

/* * * * * Список товара * * * * */
.mod-eshop .productlist {
	width: 100%;
}
.mod-eshop .productlist .proditem  {
	position: relative;
	width: 210px;
	float: left;
	margin: 0 3px 7px 0;
}
.mod-eshop .productlist .proditem .photo,
.mod-eshop .productlist .proditem .info {
	border: 1px solid #EEF1F2;
}
.mod-eshop .productlist .proditem .info {
	border-top: none;
}
.mod-eshop .productlist .proditem p {
	text-align: center;
}
.mod-eshop .productlist .proditem .tmb {
	margin: 0 auto;
}

.mod-eshop .productlist .proditem p.title {
	padding: 3px;
	overflow: hidden;
	height: 45px;
}
.mod-eshop .productlist .proditem p.price {
	padding: 3px;
}

.mod-eshop .productlist .proditem .aw-eshopcart-buybutton {
	padding: 2px 0 10px 0;
}

/* * * * * Спец.товар * * * * */
.mod-eshop .proditem .special {
	position: absolute;
	top: 0; left: 0;
}
.mod-eshop .proditem .special img {
	display: block;
} 
/* * * * * Просмотр продукта * * * * */
.mod-eshop .product h3 {
	margin-bottom: 10px;
}
.mod-eshop .product .photos {
	float: left;
    margin-left: 10px;
	margin-right: 30px;
    overflow: hidden;
    padding-top: 5px;
    width: 230px;
}

/* Фото товара */
.mod-eshop .product #bigPhotoDiv {
	position: relative;
	background: #fff none repeat scroll 0 0;
	border: 10px solid #CCCCCC;
}
.mod-eshop .product #bigPhoto {
	cursor: pointer;
}
.mod-eshop .product .big {
	margin: 0 8px 8px 0;
	padding: 1px;
}
.mod-eshop .product #loading {
	border: 0 none;
	left: 50%;
	margin: -16px 0 0 -16px;
	position: absolute;
	top: 50%;
}
.mod-eshop .product #bigPhotoDiv a.showbig {
	position: absolute; right: 5px; bottom: 5px;
	display: block;
	padding-left: 18px;
	padding-bottom: 3px;
	background: url("/modules/eshop/images/zoom.png") no-repeat 0 4px;
	font-size: 10px;
}
.mod-eshop .product #bigPhoto.loading_bg	{
	filter: progid:DXImageTransform.Microsoft.Alpha(opacity=40);
	-moz-opacity: 0.4;    /* Mozilla 1.6   */
	-khtml-opacity: 0.4;  /* Konqueror 3.1, Safari 1.1 */
	opacity: 0.4;         /* CSS3 - Mozilla 1.7b +, Firefox 0.9 +,Safari 1.2+, Opera 9 */
	filter: alpha(opacity=40); /* IE 5.5+*/
}

.mod-eshop .product .lstsm .tmb {
	float: left;
	margin: 3px 5px 0 0;
} 
.mod-eshop .product .lstsm .tmb { 
	cursor: pointer;
	background: #fff none repeat scroll 0 0;
	border: 4px solid #CCCCCC;
}

/* * * * Информация о товаре * * * */
.mod-eshop .product .info {
	margin-top: 15px;
	float: left;
	width: 320px;
}
.mod-eshop .product .info dl {
	clear: both;
	overflow: hidden;
	width: 100%;
}
.mod-eshop .product .info dt {
	clear: both;
	float: left;
	margin: 0 5px 4px 0;
	width: 140px;
	font-weight: bold;
}
.mod-eshop .product .info dd {
	margin: 0 0 4px;
	word-spacing: -1px;
}
.mod-eshop .product .info .add2cart {
	margin-top: 15px;
}
.mod-eshop .product .photoinfoblock {
	margin-bottom: 20px;
}

/* * * * Спецификация * * * */
.mod-eshop .product .specific {
	float: left;
}
.mod-eshop .product .specific dl {
	display: block;
	overflow: hidden;
	width: 100%;
	border-bottom: 1px dotted #DDDDDD;
}
.mod-eshop .product .specific dt {
	clear: left;
	float: left;
	padding: 5px 0 5px 0;
	width: 250px;
}
.mod-eshop .product .specific dd {
	float: none;
	margin-left: 260px;
	padding: 5px 0 5px 10px;
	width: 50px;
	border-left: 1px dotted #DDDDDD;
}

/* Описание товара */
.mod-eshop .product .descript {
	border-top: 1px solid #ddd;
	color: #666666;
	margin:1em 0;
	padding-top: 10px;
}
.mod-eshop .product .descript legend {
	background: #FFFFFF none repeat scroll 0 0;
	font-size: 1.4em;
	padding: 0 5px;
}

.mod-eshop .add2cart {
	border: 1px solid rgb(221, 221, 221);
	padding: 10px;
	background: rgb(247, 247, 247) none repeat scroll 0% 0%;
	width: 250px;
}
.mod-eshop .add2cart input {
	margin: 0 0 10px 10px;
}


/* * * * * Старые стили, на удаление * * * * */
.mod-eshop .abs_img	{
	display: block;
}

/*Добавлено на случай, если в основном стиле прописано очищение списка - не корректно будет работать интерактивный пагинатор*/
#product-list-wpage	ul {
	clear: none;
}

#product-list-wpage	{
	overflow: hidden;
}

#cart-view-page .info dd {
	margin: 0 0 4px;
	word-spacing: -1px;
}
#cart-view-page .info .customer {
	font-size:1.2em;
	font-weight: bold;
}

.mod-eshop .td_over {
	background-color: #F2F2F2;
}
	
#pr_loader	{	
	margin: 50% auto 0;
	background: transparent url(/images/loading.gif) no-repeat scroll 20% 50%;
}
.mod-eshop h1 a,
.mod-eshop h1 a:hover	{
	color: #fff;
	text-decoration: none;
}

/* * * Search * * */
.mod-eshop .search-result h3 {
	margin-bottom: 10px;
}

/* * * Search Line * * */
.aw-eshop-searchline {
	font-size: 13px;
}
.aw-eshop-searchline form {
	float: right;
}
.aw-eshop-searchline td.scol {
	padding-left: 5px;
}
.aw-eshop-searchline .stitle {
	margin-top: 4px; 
}

.aw-eshop-searchline .sinputcont {
    width: 350px;
    margin-right: 5px;
	position: relative;
}
.aw-eshop-searchline input.sinput {
	width: 100%;
	height: 20px;
    padding: 1px 3px;
}
.aw-eshop-searchline .sbutton {
	padding: 0 7px;
}
.aw-eshop-searchline .loading {
	position: absolute;
	right: 3px; top: 4px; 
}
.aw-eshop-searchline .sextfilter {
	width: 250px;
}
.aw-eshop-searchline .sextfilter select {
	width: 100%;
    padding: 3px 3px;
}

/* * * * TabView * * * * */
.mod-eshop .yui-navset .yui-content {
	background: none !important;
	border: none !important;
	padding: 10px 0 0 0 !important;
}
.mod-eshop .yui-navset .yui-nav {
	border: none !important;
}

.mod-eshop .yui-navset .yui-nav .selected, 
.mod-eshop .yui-navset .yui-navset-top .yui-nav .selected {
	margin: 0 2px 0 0 !important;
}
.mod-eshop .yui-navset .yui-nav .selected a, 
.mod-eshop .yui-navset .yui-nav .selected a em {
    border-color: #6A7398 !important;
    background: none !important;
}
.mod-eshop .yui-navset .yui-nav .selected a, 
/*.mod-eshop .yui-navset .yui-nav .selected a:focus, /**/
.mod-eshop .yui-navset .yui-nav .selected a:hover {
    background: none !important;
    border-width: 1px !important;
}
.mod-eshop .yui-navset .yui-nav li, 
.mod-eshop .yui-navset .yui-navset-top .yui-nav li {
	padding: 0 !important;
}
.mod-eshop .yui-navset .yui-nav a, 
.mod-eshop .yui-navset .yui-navset-top .yui-nav a {
    background: none !important;
    color: #191B24 !important;
    border-width: 1px !important;
    
}
.mod-eshop .yui-navset .yui-nav a em, 
.mod-eshop .yui-navset .yui-navset-top .yui-nav a em {
    border: none !important;
    border-width: 0 !important;
    padding: 5px 10px !important;
    top: 0 !important;
}

.mod-eshop .yui-navset .yui-nav a, 
.mod-eshop .yui-navset .yui-navset-top .yui-nav a {
    border-color: #6A7398 !important;
}
.mod-eshop .yui-navset .yui-nav a {
	border-radius: 5px !important;
} 

.mod-eshop .yui-navset .yui-nav .selected a,
.mod-eshop .yui-navset .yui-nav .selected a:hover,
.mod-eshop .yui-navset .yui-nav a:focus,
.mod-eshop .yui-navset .yui-nav a:hover {
	background-color: #E7E8EE !important;
}